#selinux status
allow system_app selinuxfs:file r_file_perms;

# Allow SetupWizard to set recovery update prop
set_prop(system_app, recovery_update_prop)
